{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        
        label {
            margin-bottom: 10px;
            display: block;
        }
        input[type="text"], textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #000000;
            border-radius: 5px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
    <h1 class="heading">Add Book to Repository</h1>
    <br/><br/>
    {% if submitted %}
        <div style="text-align: center; color: green;">
            Your Book was saved to Repository
        </div>
    {% else %}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class = "submit-btn">
        </form>
    {% endif %}
</div>
</body>
</html>
