{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    {% endif %}
    <div class="container">
        <h1 class="heading">Welcome to Repository</h1>
        <ul id = "list">
            {% for book in book_list %}
                <li class = "search-result">
                    <a href="{{ book.pdf.url }}" target="_blank" class = "book_display">{{ book.title }}</a>
                    <span>{{ book.date }}</span>
                    {% if request.user.is_superuser %}
                        <form action="{% url 'delete_book' book.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class = "delete_btn">Delete</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
